body {
    font-family: 'Time New Roman', sans-serif;
    background:url("../img/dark-woods-wallpapers-040.jpg")no-repeat;
    background-size: cover
    text-align: center;
    padding: 36px;
}

/* Page */
.hero-page {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    text-align: left;
    background:rgba(0,0,0,0%);
    border-radius: 9px;
    margin:auto
}

/* Image */
.hero-image {
    line-height: 0;
    opacity: 0.84;
}
.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Contenu */
.hero-contenu {
    color: aliceblue;
    padding: 36px;
    max-width: 50%;
    box-sizing: border-box;
}

h1 {
    color : black;
        font-size :30px; 
    margin-top: 0
}
h2 {
    color : gainsboro;
        font-size : 15px;
    text-shadow: 5px 5px 5px black
}
p{
    color:ghostwhite;
        font-size : 12px;
        text-shadow: 5px 5px 5px black;
}
